.form-control{
    background-color: var(--grigiochiaro);
    border: none;
    color: var(--grigioscuro);
    border-bottom: 5px solid var(--grigioscuro);
    box-shadow: none;
    margin-bottom: 10px;
}
   
.form-control:focus{
    border-bottom: 5px solid var(--grigioscuro);
    box-shadow: none;
}
    
.login{
    width: 50%;
    margin: auto;
    min-width: 300px;
    max-width: 400px;
}

#registra {
    text-align: center;
    margin-top: 10px;
}
   